version: 1
disable_existing_loggers: false

formatters:
  standard:
    format: "%(levelname)s %(asctime)s %(name)s :: %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    formatter: standard
    level: INFO

loggers:
  scanner:
    level: INFO
    handlers: [console]
    propagate: false

root:
  level: INFO
  handlers: [console]
